<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Assembly" connectionString="data source=192.168.1.2;initial catalog=Assembly;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BCS" connectionString="data source=192.168.1.2;initial catalog=BCS;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OTS" connectionString="data source=192.168.1.2;initial catalog=Store1;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BCSEntities" connectionString="metadata=res://*/EFStuff.BCS.BCS.csdl|res://*/EFStuff.BCS.BCS.ssdl|res://*/EFStuff.BCS.BCS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.2;initial catalog=BCS;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AssemblyEntities" connectionString="metadata=res://*/EFStuff.Assembly.csdl|res://*/EFStuff.Assembly.ssdl|res://*/EFStuff.Assembly.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.2;initial catalog=Assembly;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AssemblyEntities1" connectionString="metadata=res://*/EFStuff.Assembly.Assembly.csdl|res://*/EFStuff.Assembly.Assembly.ssdl|res://*/EFStuff.Assembly.Assembly.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.2;initial catalog=Assembly;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Store1Entities" connectionString="metadata=res://*/EFStuff.Stores.Stores.csdl|res://*/EFStuff.Stores.Stores.ssdl|res://*/EFStuff.Stores.Stores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.2;initial catalog=Store1;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="BCS1" connectionString="data source=192.168.1.2;initial catalog=BCS;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="BCSEntities1" connectionString="data source=192.168.1.2;initial catalog=Assembly;persist security info=True;user id=sa;password=DELTA1433;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>